<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Document</title>
    <style>
        * {
            font-family: 'Times New Roman', Times, serif;
            font-size: 12px;
            /* font-size: 0.9em; */
        }

        table {
            border-collapse: collapse;
            border: 1px solid;
        }

        table,
        th,
        td {
            border: 1px solid;
        }
    </style>
</head>

<body>
    <div class="row" style="padding-top: 2px; margin-top: 1px;">
        <div class="col-md-12" style="text-align: center;">
            <h5 style="padding-bottom: 2px; margin-bottom: 1px;">الجمهـوريـة الجـزائـرية الديمقراطيـة الشعبية</h5>
            <h6>République Algèrienne Démocratique et populaire</h6>
        </div>
    </div>



    <div class="row">
        <div class="col-md-3" style="text-align: center; width: 90px;">
            <img src="logo.png" style="width:80px ;height:80px ;" alt="">
        </div>
        <div class="col-md-6" style="text-align: center; width:440px;">
            <h1 style="font-family: 'Times New Roman', Times, serif; font-size: 30px; font-weight: bold;">Courrier
                Arrivé</h1>
            Le .................................. N&#176; ..................................

        </div>
        <div class="col-md-3" style="text-align: center;width: 190px;">
            <h6>وزارة السكن والعمران والمدينة</h6>
            <h6>ديوان الترقية والتسيير العقاري لولاية غراية</h6>
            <h5 style="font-weight: bold;">O.P.G.I GHARDAIA</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">D.F.C</th>
                        <th scope="col">D.M.O</th>
                        <th scope="col">D.P.I.F</th>
                        <th scope="col">D.G.M.P</th>
                        <th scope="col">D.R.H.M.G</th>
                        <th scope="col">Informatique</th>
                        <th scope="col">Cellule Com</th>
                        <th scope="col">Audite</th>
                        <th scope="col">Contentieux</th>
                        <th scope="col">Cellule Sécu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1">

        </div>
    </div>
    <div class="row">
            <div class="col-lg-6" style="width: 310px;">
                <h6 style="text-align: center;">Remarques</h6>
                <p style="text-align: left;">
                ..................................................................................................... <br>
                ..................................................................................................... <br>
                ..................................................................................................... <br>
                ..................................................................................................... <br>
                ..................................................................................................... <br>
                ..................................................................................................... <br>
                </p>
            </div>
            <div class="col-lg-6" style="width: 410px;">
                <h6 style="text-align: center;">Pour</h6>
                <table class="table table-bordered"> 
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Execution <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Projet de réponse <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Exploit et suite a demander <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Information <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Diffusion <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Examen et avis <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  ........................................... <br>
                            </td>
                            <td>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  A Suivre <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  A Classer <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  M'en Parler <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Me Voir <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Courrier/Retour <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Affichage <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  ........................................... <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    <hr>


    <div class="row" style="padding-top: 2px; margin-top: 1px;">
        <div class="col-md-12" style="text-align: center;">
            <h5 style="padding-bottom: 2px; margin-bottom: 1px;">الجمهـوريـة الجـزائـرية الديمقراطيـة الشعبية</h5>
            <h6>République Algèrienne Démocratique et populaire</h6>
        </div>
    </div>



    <div class="row">
        <div class="col-md-3" style="text-align: center; width: 90px;">
            <img src="logo.png" style="width:80px ;height:80px ;" alt="">
        </div>
        <div class="col-md-6" style="text-align: center; width:440px;">
            <h1 style="font-family: 'Times New Roman', Times, serif; font-size: 30px; font-weight: bold;">Courrier
                Arrivé</h1>
            Le .................................. N&#176; ..................................

        </div>
        <div class="col-md-3" style="text-align: center;width: 190px;">
            <h6>وزارة السكن والعمران والمدينة</h6>
            <h6>ديوان الترقية والتسيير العقاري لولاية غراية</h6>
            <h5 style="font-weight: bold;">O.P.G.I GHARDAIA</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">D.F.C</th>
                        <th scope="col">D.M.O</th>
                        <th scope="col">D.P.I.F</th>
                        <th scope="col">D.G.M.P</th>
                        <th scope="col">D.R.H.M.G</th>
                        <th scope="col">Informatique</th>
                        <th scope="col">Cellule Com</th>
                        <th scope="col">Audite</th>
                        <th scope="col">Contentieux</th>
                        <th scope="col">Cellule Sécu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1">

        </div>
    </div>
    <div class="row">
            <div class="col-lg-6" style="width: 310px;">
                <h6 style="text-align: center;">Remarques</h6>
                <p style="text-align: left;">
                ..................................................................................................... <br>
                ..................................................................................................... <br>
                ..................................................................................................... <br>
                ..................................................................................................... <br>
                ..................................................................................................... <br>
                ..................................................................................................... <br>
                </p>
            </div>
            <div class="col-lg-6" style="width: 410px;">
                <h6 style="text-align: center;">Pour</h6>
                <table class="table table-bordered"> 
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Execution <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Projet de réponse <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Exploit et suite a demander <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Information <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Diffusion <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Examen et avis <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  ........................................... <br>
                            </td>
                            <td>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  A Suivre <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  A Classer <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  M'en Parler <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Me Voir <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Courrier/Retour <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Affichage <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  ........................................... <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    <hr>
    <div class="row" style="padding-top: 2px; margin-top: 1px;">
        <div class="col-md-12" style="text-align: center;">
            <h5 style="padding-bottom: 2px; margin-bottom: 1px;">الجمهـوريـة الجـزائـرية الديمقراطيـة الشعبية</h5>
            <h6>République Algèrienne Démocratique et populaire</h6>
        </div>
    </div>



    <div class="row">
        <div class="col-md-3" style="text-align: center; width: 90px;">
            <img src="logo.png" style="width:80px ;height:80px ;" alt="">
        </div>
        <div class="col-md-6" style="text-align: center; width:440px;">
            <h1 style="font-family: 'Times New Roman', Times, serif; font-size: 30px; font-weight: bold;">Courrier
                Arrivé</h1>
            Le .................................. N&#176; ..................................

        </div>
        <div class="col-md-3" style="text-align: center;width: 190px;">
            <h6>وزارة السكن والعمران والمدينة</h6>
            <h6>ديوان الترقية والتسيير العقاري لولاية غراية</h6>
            <h5 style="font-weight: bold;">O.P.G.I GHARDAIA</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">D.F.C</th>
                        <th scope="col">D.M.O</th>
                        <th scope="col">D.P.I.F</th>
                        <th scope="col">D.G.M.P</th>
                        <th scope="col">D.R.H.M.G</th>
                        <th scope="col">Informatique</th>
                        <th scope="col">Cellule Com</th>
                        <th scope="col">Audite</th>
                        <th scope="col">Contentieux</th>
                        <th scope="col">Cellule Sécu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                        <td><br></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1">

        </div>
    </div>
    <div class="row">
            <div class="col-lg-6" style="width: 310px;">
                <h6 style="text-align: center;">Remarques</h6>
                <p style="text-align: left;">
                ..................................................................................................... <br>
                ..................................................................................................... <br>
                ..................................................................................................... <br>
                ..................................................................................................... <br>
                ..................................................................................................... <br>
                ..................................................................................................... <br>
                </p>
            </div>
            <div class="col-lg-6" style="width: 410px;">
                <h6 style="text-align: center;">Pour</h6>
                <table class="table table-bordered"> 
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Execution <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Projet de réponse <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Exploit et suite a demander <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Information <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Diffusion <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Examen et avis <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  ........................................... <br>
                            </td>
                            <td>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  A Suivre <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  A Classer <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  M'en Parler <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Me Voir <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Courrier/Retour <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  Affichage <br>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">  ........................................... <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    <hr>

</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

</html>